
button.toolbar {
    background: #fbfbfb;
    color: #888;
    font-size: 18px;
    border: 0;
    padding-top: 0px;
    vertical-align: bottom;
    height: 40px;
    width: 42px;
  }
  
button.toolbar:hover, button.toolbar:focus {
background: #f3f3f3;
outline: 0; /* reset for :focus */
}

i {
fill: #888;
}

.drop
{
width: 90%;
margin-left:auto;
margin-right:auto;
}

.tool {
    /*border-style: solid;
    border-color: rgb(112, 128, 144);
    border-radius: 1em;*/
  width: 100%;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0px 1px 3px 0px rgba(220,220,220,1);
  z-index: 2;
  box-sizing: border-box;
}

.separator {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd; 
  height: 35px;
  position: absolute;
  /*
  If we want the separator to float center
  top: 19px;
  height: 30px;*/
}




  